@using BlazorComponents.ViewModel;
@using System.Diagnostics;
@using ClickerGame.Constants;
@using ClickerGame.Interfaces;

@inherits MvvmComponentBase<CounterViewModel>

@code{
    public void CounterOnClick(MouseEventArgs args )
    {
        this.BindingContext.Inventory.Increment(ItemName.Cookie);
    }
}

<div>
    <h1>
        @BindingContext.UnitLabel
    </h1>
    <ul>
        <li>
            @Bind(vm => vm.UnitLabel) :
            @Bind(vm => vm.Count)
        </li>
        <li>
            Cooldown :
            @Bind(vm => vm.CurrentCookieCooldown)
            /
            @Bind(vm => vm.MaxCookieCooldown)
        </li>
    </ul>

    <button disabled="@Bind(vm => vm.DisableClick)" @onclick="@CounterOnClick">
        Get @Bind(vm => vm.UnitLabel)
    </button>

    @if (Debugger.IsAttached)
    {
        // debugger is attached
        <div> Binding Context :</div>
        <ul>
            <li>
                UnitLabel : @Bind(vm => vm.UnitLabel)
            </li>
            <li>
                CookieCount : @Bind(vm => vm.Count)
            </li>
            <li>
                DisableClick : @Bind(vm => vm.DisableClick)
            </li>
            <li>
                MaxCookieCooldown : @Bind(vm => vm.MaxCookieCooldown)
            </li>
            <li>
                CurrentCookieCooldown : @Bind(vm => vm.CurrentCookieCooldown)
            </li>
        </ul>
        <hr>
    }

</div>